@use "../base/variables" as v;

.text {
    display: grid;
    place-items: center;
}
.article__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: v.$desaturated-red;
    font-weight: v.$fw-light;
    letter-spacing: 1.5rem;
    margin: 4rem 0 1.5rem 0;
    max-width: 30rem;

    .article__title--time {
        text-align: center;
        color: v.$dark-grayish-red;
        font-weight: v.$fw-semiBold;
    }
}
.article__text {
    color: v.$desaturated-red;
    font-weight: v.$fw-regular;
}

@media (min-width:375px) {
    .text .article__title--time {
        text-align: start;
    }
    .article__title {
        align-items: start;
    }
}