/* custom properties */
:root {
    /* colors */
    --clr-p-primary: hsl(215, 51%, 70%);
    --clr-p-secundary: hsl(178, 100%, 50%);
    --clr-overlay: hsla(178, 100%, 50%, 0.5);
    --clr-main-bg: hsl(217, 54%, 11%);
    --clr-card-bg: hsl(216, 50%, 16%);
    --clr-line: hsl(215, 32%, 27%);
    --clr-white: hsl(0, 0%, 100%);
    /* font family */
    --ff-primary: 'Outfit', sans-serif;;
    /* font weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
}
/* general styling */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px;
    height: 100vh;
    font-family: var(--ff-primary);
    display: grid;
    place-items: center;
    background-color: var(--clr-main-bg);
}
img {
    max-width: 100%;
}
p {
    font-size: 1.8rem;
    color: var(--clr-p-primary);
    margin: 0;
}
h1 {
    margin: 0;
}
/* utilities */
.flex-item {
    display: flex;
}
/* nft */
.nft {
    width: min(90%,35rem);
    background-color: var(--clr-card-bg);
    padding: 2.5rem;
    border-radius: 1.5rem;
}
/* image */
.img {
    position: relative;
    display: grid;
}
.nft__img,
.img__overlay {
    border-radius: 1rem;
    cursor: pointer;
}
.img__overlay {
    display: grid;
    place-items: center;
    position: absolute;
    visibility: hidden;
    background-color: var(--clr-overlay);
    width: 100%;
    height: 100%;
}
.img:hover .img__overlay{
    visibility: visible;
}
/* nft content */
.nft__title {
    color: var(--clr-white);
    font-size: 2.8rem;
    font-weight: var(--fw-semi-bold);
    margin-top: 2.5rem;
}
.nft__info {
    line-height: 3rem;
    font-weight: var(--fw-light);
    margin: 1.5rem 0;
}
/* nft plan */
.nft__plan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.nft__plan__value,
.nft__plan__time-left {
    display: flex;
}
.nft__plan__value {
    color: var(--clr-p-secundary);
}
.nft__plan__value[data-icon="icon-eth"]::before {
    background-image: url(images/icon-ethereum.svg);
    background-repeat: no-repeat;
    content: "";
    width: 20px;
    height: 20px;
    margin-left: 0;
}
.nft__plan__time-left[data-icon="icon-time"]::before {
    background-image: url(images/icon-clock.svg);
    background-repeat: no-repeat;
    content: "";
    width: 24px;
    height: 20px;
    margin-top: 2px;
}
/* line */
.line {
    border: thin solid var(--clr-line);
}
/* author  */
.author {
    font-weight: var(--fw-regular);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}
.author__avatar {
    width: 35px;
    height: 35px;
    border: thin solid var(--clr-white);
    border-radius: 100%;
}
.author__desc--name {
    color: var(--clr-white);
}
/* hover change color  */
:is(.author__desc--name,.nft__title):hover {
    color: var(--clr-p-secundary);
    cursor: pointer;
}